body {
  margin: 0;
  font-family: "Poppins";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.drawer::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.drawer::-webkit-scrollbar-track {
  background: transparent;
}
.drawer::-webkit-scrollbar-thumb {
  background-color: lightgray;
  border-radius: 5px;
  border: none;
}
@media only screen and (max-width: 550px) {
.drawer-right > div {
  width: 180px;
}

}